#txt2img_gallery, #img2img_gallery {
    overflow: visible !important;
}

#txt2img_results>.progressDiv, #img2img_results>.progressDiv {
    z-index: 690;
}

.curtains {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 420;
    transition: 0.075s ease-out;
    background: repeating-linear-gradient(90deg, var(--background-fill-primary), var(--background-fill-secondary) 8%);
    border: 1px dotted var(--border-color-accent);
}

.curtains.curtain-off {
    width: 2%;
    left: 100%;
}

.curtains.curtain-off:hover {
    cursor: zoom-out;
}

.curtains.curtain-on:hover {
    cursor: zoom-in;
}

#txt2img_gallery:hover .curtains.curtain-on,
#img2img_gallery:hover .curtains.curtain-on,
#mode_img2img:hover .curtains.curtain-on {
    width: 2%;
    left: 100%;
}
